<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.patternclinic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- uses features -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- uses features -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- uses features -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PatternClinic"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:usesCleartextTraffic">
        <activity
            android:name=".home.drawerFragments.appointments.AddAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.messages.ViewMessageActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".utils.FirebaseNotification"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/login_logo" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_primary" />

        <activity
            android:name=".auth.createProfile.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".auth.createProfile.SignupActivity"
            android:exported="false" /> <!-- Bluetooth services -->
        <!-- <service android:name="com.inuker.bluetooth.library.BluetoothService" /> &lt;!&ndash; <service android:name=".oad.service.DfuService"/> &ndash;&gt; -->
        <activity
            android:name=".home.drawerFragments.myProfile.YourApTeamActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.settings.TermPoliciesActivity"
            android:exported="false" />
        <activity
            android:name=".auth.CreateProfileWeight"
            android:exported="false" />
        <activity
            android:name=".auth.CreateProfileHeight"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.myProfile.CurrentWeightActivity"
            android:exported="false" />
        <activity
            android:name=".home.progressTracker.ApScoreActivity"
            android:exported="false" />
        <activity
            android:name=".home.ExerciseStatsActivity"
            android:exported="false" />
        <activity
            android:name=".home.ViewAllTodayActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.messages.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.drawerFragments.myProfile.CurrentHeightActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.myProfile.PersonalInformationActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.healthTips.HealthTipDetailActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.settings.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.settings.DeviceManagementActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.settings.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.settings.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".home.progressTracker.ProgressTrackerActivity"
            android:exported="false" />
        <activity
            android:name=".home.cardiacDetails.YourMetrics"
            android:exported="false" />
        <activity
            android:name=".selectTeam.SelectTeam2"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.appointments.CoachProfileActivity"
            android:exported="true" >
            <intent-filter>
                <data android:scheme="https"/>
                <data android:host="us06web.zoom.us"/>
                <data android:path="/j/85917137116"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".home.drawerFragments.appointments.CoachAppointments"
            android:exported="false" />
        <activity
            android:name=".home.optimalFitness.OptimalFitnessActivity"
            android:exported="false" />
        <activity
            android:name=".home.nutrition.RecipeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".home.nutrition.NutritionTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".accountability.TrendsActivity"
            android:exported="false" />
        <activity
            android:name=".home.HomeScreenActivity"
            android:exported="true" />
        <activity
            android:name=".introScreen.IntroScreen"
            android:exported="false" />
        <activity
            android:name=".selectTeam.SelectPatternPlusTeam"
            android:exported="false" />
        <activity
            android:name=".setupDevice.ConnectDeviceActivity"
            android:exported="false" />
        <activity
            android:name=".auth.CreateProfile"
            android:exported="false" />
        <activity
            android:name=".auth.ResetPassword"
            android:exported="false" />
        <activity
            android:name=".auth.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>