<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.patternclinic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- uses features -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PatternClinic"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".auth.createProfile.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".auth.createProfile.SignupActivity"
            android:exported="false" /> <!-- Bluetooth services -->
        <service android:name="com.inuker.bluetooth.library.BluetoothService" /> <!-- <service android:name=".oad.service.DfuService"/> -->
        <activity
            android:name=".home.drawerFragments.myProfile.YourApTeamActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.settings.TermPoliciesActivity"
            android:exported="false" />
        <activity
            android:name=".auth.CreateProfileWeight"
            android:exported="false" />
        <activity
            android:name=".auth.CreateProfileHeight"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.myProfile.CurrentWeightActivity"
            android:exported="false" />
        <activity
            android:name=".home.progressTracker.ApScoreActivity"
            android:exported="false" />
        <activity
            android:name=".home.ExerciseStatsActivity"
            android:exported="false" />
        <activity
            android:name=".home.ViewAllTodayActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.messages.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.myProfile.CurrentHeightActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.myProfile.PersonalInformationActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.healthTips.HealthTipDetailActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.settings.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.settings.DeviceManagementActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.settings.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.settings.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".home.progressTracker.ProgressTrackerActivity"
            android:exported="false" />
        <activity
            android:name=".home.cardiacDetails.YourMetrics"
            android:exported="false" />
        <activity
            android:name=".selectTeam.SelectTeam2"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.appointments.CoachProfileActivity"
            android:exported="false" />
        <activity
            android:name=".home.drawerFragments.appointments.CoachAppointments"
            android:exported="false" />
        <activity
            android:name=".home.optimalFitness.OptimalFitnessActivity"
            android:exported="false" />
        <activity
            android:name=".home.nutrition.RecipeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".home.nutrition.NutritionTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".accountability.TrendsActivity"
            android:exported="false" />
        <activity
            android:name=".home.HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".introScreen.IntroScreen"
            android:exported="false" />
        <activity
            android:name=".selectTeam.SelectPatternPlusTeam"
            android:exported="false" />
        <activity
            android:name=".setupDevice.ConnectDeviceActivity"
            android:exported="false" />
        <activity
            android:name=".auth.CreateProfile"
            android:exported="false" />
        <activity
            android:name=".auth.ResetPassword"
            android:exported="false" />
        <activity
            android:name=".auth.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>